@import "../../styles/variaveis";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

.galeria {
  font-family: "Orbitron";
  margin-bottom: 2rem;
  gap: 1rem;

  h2 {
    color: #cb85fd;
    font-size: 28px;
    font-weight: 600;
  }

  &__cards {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &__card {
    background-color: #0c0c1b;

    border-radius: 20px;
    height: 280px;
    width: 285px;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
    box-shadow: rgba(59, 56, 90, 0.836) 0px 1px 2px 1px;
    font-family: "Ubuntu";
    cursor: pointer;

    &:hover {
      border: 1px solid rgba(48, 46, 71, 0.836);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 5px -5px;
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.05);
      transition: 0.4s ease-in-out;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      box-sizing: border-box;
      width: 100%;

      p {
        margin: 0;
        margin-top: 0.5rem;
        color: $cinza-claro;
        font-family: "Ubuntu";
      }

      span {
        width: 28%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Ubuntu";

        img {
          cursor: pointer;
          width: inherit;
        }
      }
    }
  }

  &__imagem {
    border-radius: 20px 20px 0 0;
    height: 60%;
    width: 100%;
  }

  &__descricao {
    margin-top: 0.5rem;
    padding: 0 16px;
    font-size: 1.25rem;
    color: $cor-do-texto;
    font-family: $fonte-bold;
  }
  button {
    display: none;
  }
}

@media (max-width: 480px) {
  .galeria {
    font-family: "Orbitron";
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &:nth-child(n + 5) {
      display: none;
    }

    h2 {
      color: #cb85fd;
      font-size: 20px;
    }

    &__cards {
      list-style: none;
      padding: 0;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__card {
      background-color: #19193b;
      border-radius: 20px;
      width: 310.1px;
      height: 254px;
      margin-right: 0;
      margin-bottom: 1.5rem;
      box-shadow: rgba(49, 44, 92, 0.836) 0px 1px 2px 0px;
      font-family: "Ubuntu";
      cursor: pointer;

      &:nth-child(n + 4) {
        display: none;
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.05);
        transition: 0.3s ease-out;
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        box-sizing: border-box;
        width: 100%;

        &:nth-child(n + 5) {
          display: none;
        }

        p {
          margin: 0;
          margin-top: 0.5rem;
          color: $cinza-claro;
          font-family: "Ubuntu";
        }

        span {
          width: 28%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: "Ubuntu";

          img {
            cursor: pointer;
            width: inherit;
          }
        }
      }
    }

    &__imagem {
      border-radius: 20px 20px 0 0;
      height: 60%;
      width: 100%;
    }

    &__descricao {
      margin-top: 0.5rem;
      padding: 0 16px;
      font-size: 1.25rem;
      color: $cor-do-texto;
      font-family: $fonte-bold;
    }
  }
  button {
    display: block;
  }
}
