@import "../../styles/variaveis.scss";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&family=Space+Grotesk:wght@300;400;600&family=Space+Mono:wght@700&display=swap");

.header {
  /* display: flex;

  justify-content: space-between;
  align-items: center;
  margin: 2rem 37px;
  gap: 1.5rem; */

  display: flex;
  justify-content: flex-start;
  margin: 2rem 20px;
  gap: 1.5rem;
  align-items: flex-start;
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 6px 10px;
    width: 30%;
    position: relative;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 10px;
      z-index: -1;
      border: 2px solid transparent;
      background: linear-gradient(to right, #a2a0f4, #7b78e5) border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  &__input {
    width: 100%;
    height: 35px;
    color: $cor-do-texto;
    font-size: $fonte-normal;
    border: none;
    background-color: transparent;
    outline: 0;

    &::placeholder {
      font-size: 0.9rem;
    }
  }

  img {
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .header {
    /*     display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    //margin: 2rem; */

    /* display: flex;
    justify-content: flex-start;
    margin: 2rem 37px;
    gap: 1.5rem;

    flex-direction: row-reverse; */

    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-inline: 12px;
    gap: 1.5rem;
    flex-direction: row-reverse;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 6px 10px;
      width: 312px;
    }

    &__input {
      width: 80%;

      border: none;
      background-color: transparent;

      &::placeholder {
        font-size: 0.9rem;
      }
    }

    img {
      cursor: pointer;
    }
  }
}
