main {
  margin: 0 24px;
}

.principal {
  display: flex;
  align-items: flex-start;
  margin-block: 2rem;
  justify-content: flex-start;
  position: absolute;
  top: 15%;
  left: 5%;
  /* top: 15%;
  left: 5%; */

  &__imagem {
    width: 1263.39px;
    height: 344px;
    margin-left: 15%;
    position: relative;

    img {
      width: 100%;
      height: 85%;
    }

    position: relative;

    h1 {
      position: absolute;
      z-index: 1;
      color: #c5bccc;
      font-size: 50px;
      font-family: "Orbitron";
      line-height: 80px;
      font-weight: 600;
      letter-spacing: 5px;
      width: 600px;
      height: 144px;
      top: 50px;
      left: 44px;

      text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.568),
        0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    }
  }
}

.galeria {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 17%;
  margin-top: 5rem;
}

@media (max-width: 480px) {
  .principal {
    /*     display: flex;
    align-items: flex-start;
    margin-top: 2rem;
    justify-content: space-evenly; */

    /*  display: flex;
    align-items: flex-start;
    margin-top: 2rem;
    justify-content: space-evenly;
    position: relative; */

    /*  display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-evenly;

    position: absolute;
    top: 0; */
    display: flex;
    align-items: center;

    justify-content: flex-start;

    &__imagem {
      /*   margin-top: 4rem;
      width: 100%;
      margin-left: 0;
      margin-right: 5rem; */

      margin-top: 2rem;
      width: 100%;
      //margin-left: 1rem;
      /* margin-right: -2rem; */
      display: flex;
      align-items: flex-start;
      margin-left: 8%;

      img {
        /*  width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        position: relative; */

        object-fit: cover;
        border-radius: 10px;
        position: relative;
        width: 313px;
        height: 140px;
      }

      h1 {
        position: absolute;
        z-index: 1;
        color: #d9d9d9;
        font-size: 20px;
        font-family: "Orbitron";
        line-height: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        width: 243px;
        height: 110px;
        top: 20px;
        left: 42px;

        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
          0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .galeria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    margin-top: 14rem;
  }
}
