@import "../../styles/variaveis.scss";

main {
  margin: 0 24px;
}

.principal {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 2rem;

  &__imagem {
    img {
      width: 100%;
    }

    position: relative;

    h1 {
      position: absolute;
      z-index: 1;
      color: #d9d9d9;
      font-size: 1.8rem;
      width: 350px;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      height: 144px;
      left: 430px;
      top: 140px;
      font-family: $fonte-bold;
    }
  }
}
