@import "../../styles/variaveis.scss";

main {
  margin: 0 24px;

  
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  
}

.principal {
  display: flex;
  align-items:center;
 
  justify-content: flex-end;
  margin-top: 2rem;

  &__imagem {
    img {
      //margin-left: 3rem;
      width: 85%;
    }

    position: relative;

    h1 {
      position: absolute;
      z-index: 1;
      color: #eae5e5;
      
      width:320px;
      font-weight: 400;
      font-size: 32px;
      line-height: 35px;
      height: 100px;
      left: 350px;
      top: 120px;
      font-family: $fonte-normal;
    }
  }
}

